provider_key_file = "../key.json"
cloud_id         = "b1g3oxxxxxxxxxxxxxxx"
folder_id        = "b1g7jxxxxxxxxxxxxxxx"
zone             = "ru-central1-a"

# Бакет в котором необходимо удалять объекты
bucket           = "test-bucket"

# Префикс объектов для удаления – можно не указывать для удаления всех объектов в бакете
key_prefix       = ""

# Таймер для запуска удаления
# Если объектов очень много, можно запускать несколько раз (например, каждую минут с 01:00 по 01:05), чтобы удалить все объекты
cron_trigger     = "0-5 1 ? * * *"